{% extends 'myapp/base.html' %}

{% block content %}
<!-- Background image -->
<div class="p-5 mb-5 text-center bg-image" style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
  height: 400px;
">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->

<!-- Card -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for item in post_list %}
  <div class="col">
    <div class="card h-100">
      {% if item.thumbnail %}
      <div class="text-center">
      <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}" class="img-fluid"/></div>
      {% else %}
      <div class="media_file">
      <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" alt="..." class="card-img-top"/></div>
      {% endif %}
      <a href="{% url 'myapp:post_detail' item.id %}"></a>

      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-clone"></i> {{ item.title }} </h5>
        <br>
        <p><i class="fas fa-user-edit"></i> {{ item.author }}</p>
        <p><i class="fas fa-icons"></i> {{ item.category }}</p>
        <p class="card-text">{{ item.content | safe | truncatechars_html:30 }}</p>
        <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-primary">もっと読む</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Card -->


{% endblock %}