{% extends 'myapp/base.html' %}

{% block content %}
<!-- Background image -->
<br>
<div class="p-5 mb-5 text-center bg-image" style="
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
  height: 400px;
">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1>{{ request.site.siteconfig.top_title }}</h1>
        <h2>{{ request.site.siteconfig.top_subtitle }}</h2>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->

<!-- Card -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for item in post_list %}
  <div class="col">
    <div class="card h-100">
      {% if item.thumbnail %}
      <div class="text-center">
      <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}" class="img-fluid"/></div>
      {% else %}
      <div class="media_file">
      <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" alt="..." class="card-img-top"/></div>
      {% endif %}
      <a href="{% url 'myapp:post_detail' item.id %}"></a>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5 class="card-title"><i class="fas fa-clone"></i> {{ item.title }} </h5></li>
            <br>
            <li class="list-group-item"><i class="fas fa-user-edit"></i> {{ item.author }}</li>
            <li class="list-group-item"><i class="fas fa-icons"></i> {{ item.category }}</li>
            <li class="list-group-item"><p class="card-text" style="color:lightslategrey">{{ item.content | safe | truncatechars_html:30 }}</p>
            <br><br><a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-info">もっと読む</a></li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">更新日: {{ item.created_at.date }}</small>
          <br>
          <i class="fas fa-heart" style="color: darksalmon;"></i> {{ item.like_count }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!-- Card -->


{% endblock %}